@media (max-width: 576px) {
    .box {
        width: 100% !important;
    }
    .box .card{
        width: 100% !important;
    }

    #hero .header h1, #hero .header h2{
        font-size: 35px !important;
    }

    #hero .header{
        padding-top: 170px !important;
    }

    #contentTable table{
     width: 100% !important;
     overflow-x: scroll;
    }

}

html, body {
    height: 100%;
  }

  body{
    background-image: url('../img/bgBody1.jpg');
  }

.navbar a{
    color: white !important;
    z-index: 1 !important;
    margin-right: 10px !important;
}

.active, .active a{
    transform: scale(1.2);
    color: rgb(190, 228, 253)!important;
    text-decoration: underline;
}

.navbar .nav-item  a:hover{
    transform: scale(1.2);
    color: rgb(190, 228, 253) !important;
    text-decoration: underline;
}

#content {
    height: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

#content::before{
    content: '';
    inset: 0;
    opacity: .3;
    z-index: -2;
    background: black;
    position: absolute;
}

.text-justify{
    text-align: justify;
}

.card{
    background: transparent;
    z-index: 1;
}

.card::before{
    content: '';
    inset: 0;
    opacity: .8;
    z-index: -1;
    position: absolute;
    background: white;
}

#tableData_paginate .pagination .page-item{
    margin: 5px 8px !important;
}